.btb-otl22light{--border: 1px solid #e1e1e1; --background-1: #fafafa; --background-2: #f3f3f3; --accent: #be9a8a;}
.btb-otlrelaciones > br{display:none;}.btb-otlrelaciones{background: var(--background-2); padding: 10px; box-sizing: border-box; display: grid; grid-template-columns: repeat(2,246px); gap: 5px; border:var(--border);}
.btb-otl22rels{width: 518px; border: 10px solid var(--background-1);outline:var(--border); margin: 10px auto;}
.btbotlmc-descripcion > span {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #aaa;
    letter-spacing: .5px;
}
.btbotlmc-descripcion > a {
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--accent);
}
.btbotlmc-descripcion {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 12px;
}
.btbotlcr-modulo > i {
    position: absolute;
    top: 5px;
    font-size: 50px;
    left: 5px;
    color: var(--color);
    z-index: -1;
    opacity: .7;
}
.btbotlcr-modulo {
    overflow: hidden;
    height: 80px;
    border: var(--border);
    background: var(--background-1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.btb-otl22rtitle > b {
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 600;
    color: var(--accent);
    font-size: 14px;
}

.btb-otl22rtitle > i {
    color: var(--color);
    font-size: 40px;
}
.btb-otl22rtitle {
    border: var(--border);
    height: 75px;
    border-bottom: 0;
    background: var(--background-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-right: 50px solid var(--accent);
}
